# Ex1 - Getting and Knowing your Data


### Step 1: Initialize PySpark Session

In [1]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Day1").getOrCreate()

23/08/29 06:38:56 WARN Utils: Your hostname, riyaz-Aspire-VX5-591G resolves to a loopback address: 127.0.1.1; using 172.16.5.128 instead (on interface wlp2s0)
23/08/29 06:38:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/29 06:38:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/29 06:38:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### Step 2: Load the Dataset

In [6]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = '/home/riyaz/Downloads/chipotle.csv' # Replace with the actual path
df = spark.read.csv(data_path, header=True, inferSchema=True)

### Step 3. Get an overview of the DataFrame:

In [7]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

In [8]:
df.show(5)

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 5 rows

23/08/29 06:58:12 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/riyaz/Downloads/chipotle.csv

### Step 4.Calculate basic statistics:

In [9]:
df.describe().show()

23/08/29 06:58:35 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
23/08/29 06:58:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/riyaz/Downloads/chipotle.csv

+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|summary|               _c0|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|  count|              4622|             4622|              4622|             4622|                3376|      4622|
|   mean|            2310.5|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|1334.4008018582722|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                 0|                1|                 1|6 Pack Soft Drink|[Adobo-Marinated ...|    $1.09 |
|    max|              4621|             1834|                15|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+

In [13]:
df.summary().show()

23/08/29 07:07:42 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/riyaz/Downloads/chipotle.csv

+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|summary|               _c0|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|  count|              4622|             4622|              4622|             4622|                3376|      4622|
|   mean|            2310.5|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|1334.4008018582722|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                 0|                1|                 1|6 Pack Soft Drink|[Adobo-Marinated ...|    $1.09 |
|    25%|              1155|              477|                 1|             null|                null|      null|
|    50%|              2310|              926|                 1|             null|                null|      null|
|    75%|              3466|             1393|                 1|             null|                null|      null|
|    max|              4621|             1834|                15|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+

### Step 5. What is the number of observations in the dataset?

In [15]:
print(f"Total number of observations are: {df.count()}")

Total number of observations are: 4622

### Step 6. What is the number of columns in the dataset?

In [16]:
print(f"Total number of columns in the data set are: {len(df.columns)}")

Total number of columns in the data set are: 6

### Step 7. Print the name of all the columns.

In [17]:
print(f"Names of the columns in the dataset are: {df.columns}")

Names of the columns in the dataset are: ['_c0', 'order_id', 'quantity', 'item_name', 'choice_description', 'item_price']